.footer{
    border: 1px solid red;
    background-color: rgb(138, 138, 223);
    
   
}


.row{
    display: flex;
    justify-content: center;
    padding:50px ;
}
.col>li{
    list-style: none;
    border-radius: 5px;
    color: white;
}
.col2>li>a{
    text-decoration: none;
    color: white;
}
.icons{
    margin: 5px;
    width: 30px;
    height: 30px;
    
}

 /* .instagram{
    color:  #feda75 , #fa7e1e,#962fbf,#4f5bd5;
    background-image: linear-gradient(Light yellow (Hex: #feda75 and RGB: 254,218,117), orange (Hex: #fa7e1e and RGB: 250,126,30), pink (Hex: #d62976 and RGB: 214,41,118), purple (Hex: #962fbf and RGB: 150,47,191) and blue (Hex: #4f5bd5 and RGB: 79,91,213).);

} */
.instagram:hover{
   
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

 .facebook:hover{
    color: blue;
}
 .youtube:hover{
    color: rgb(67, 12, 12);
}

 .facebook:hover{
    color: blue;
}
 .youtube:hover{
    color: red;
}
.icons{
    border-radius: 5px;
    
}
.col2>h5::after{
 content: "Social Links :";
 color: red;
}
.col2>h5{
    color: white;
}
.col1>h5::after{
 content: "Address:";
 color: red;
}
.col1>h5{
    color: white;
}
.col3>h5::after{
 content: "Services:";
 color: red;
}
.col3>h5{
    color: white;
}


.copyright{
    color: white;
}
.copyright>p>a{
    color: rgb(11, 11, 234);
    text-decoration: none;
    
}