
.poster{
    background-image: linear-gradient(red, yellow, blue);
}
.box{
    width: 80%;
    display: flex;
    
    margin: auto;
    gap: 20px;
    
}
.bg{
    border-radius: 10px;
    
}

.bg>a>img{
    border-radius: 200px;
    width: 150px;
}
.rule{
    margin-bottom: 30px;
}
.para{
    
    width: 70%;
    margin: 30px auto;
    font-weight:800;
}